/* COMMUN */
* {
    font-family: 'Montserrat', sans-serif;
}

body {
}
.emphasized {
    font-style: normal;
    font-size: 110%;
    font-weight: bold;
    color: #1E6091;
}

h2 {
    font-weight: bold;
    font-size: 200%;
}

/*NAVBAR*/
.navbar-brand:hover, .nav-link:hover {
    font-weight: bold;
    color: #1E6091!important;
}

.navbar-brand, .nav-item, .nav-link {
    color: #1E6091!important;
}

.navbar {
    width: 100%;
    color: #1E6091!important;
    background-color: #f8f9fa;
}

/*LANDING PAGE*/

.profilePic {
    max-width: 100%;
}

.intro {
    font-size: 200%;
}

.btn {
    color: #1E6091;
}
.btn:hover, .btn-primary:active, .btn-primary:visited {
    color: white;
    background-color: #1E6091;
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
  }

/* RESUME */

/* DIPLOMAS */
.graduationcap {
    width: 33%;
}

.graduation {
    width: 50%;
}

.rowdiplomes {
    width: 100%;
}


