/* COMMUN */
.emphasized {
    font-style: normal;
    font-size: 110%;
    font-weight: bold;
    color: #1E6091;
}

/*NAVBAR*/
.navbar-brand:hover, .nav-link:hover {
    font-weight: bold;
}

/*LANDING PAGE*/

.profilePic {
    max-width: 100%;
}

.intro {
    font-size: 200%;
}

.btn {
    color: #1E6091;
}
.btn:hover, .btn-primary:active, .btn-primary:visited {
    color: white;
    background-color: #1E6091;
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
  }

/* DIPLOMAS */
.graduationcap {
    width: 33%;
}

.graduation {
    width: 50%;
}